// Transition contact home
#transition-contact {
  background: url('../../../../public/front/img/banniere-mobile-contact.jpg') no-repeat ;
  background-size: cover;
  min-height: 250px;
  position: relative;
}

// Page
#contact {
  background-color: white;
  border-bottom: 45px solid $color-icon;

  h3 {
    color: black;
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card {
    padding: 15px;
    background-color: white;
    width: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

.contact-info{
  margin-bottom: 25px;

  &__icon{
    margin-right: 20px;
    i,span{
      color: #8f9195;
      font-size: 27px;
    }
  }

  .media-body{
    h3{
      font-size: 16px;
      margin-bottom: 0;
      color: #2a2a2a;
      a{
        &:hover{
          color: $theme-color2;
        }
      }
    }

    p{
      color: #8a8a8a;
    }
  }
}