// Color
$white: #fff;
$black: #000;
$body-bg: #999999;
$color-hr-line: #ffb737;
$color-red: #e74c3c;
$light-black: #222222;
$color-light-gray: #eee;
$color-icon: #0cb8b6;
$color-mini-section: #29302E;
$btn-bg-color: #0065e1;
$btn-hover-color: #f5790b;


// Revoir
$btn_bg: #1fc2d9;
$btn_hover: #f5790b;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color2: #ff8b23;

$heading-color:#234262;
$gray-color: #bebebe;
$gray-color-2: #bdbdbd;

$theme-color: #1F1F1F;
$theme-color2: #ff5e13;

$gray-color3:#5c5c5c;
$white_color:#fff;

$font_1: #666666;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #5c5c5c;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;



// Typography
$font1:  'Poppins', sans-serif;
$font2:  'Abril Fatface', cursive;

/** Responsive */
$medium-device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab:'(max-width: 991px)';
$tab-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$small-mobile:'(max-width: 576px)';
$xs-mobile:'(max-width: 420px)';
$sm-mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big-screen:'only screen and (min-width: 1200px) and (max-width: 1500px)';
$extra-big-screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';
$mx-767: '(max-width: 767px)';
