/*
|-----------------------
| 	     FORMS
|-----------------------
|
*/
form {
  input:-webkit-autofill {
    background-color: $white !important;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="email"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="file"],
  input[type="time"],
  input[type="url"],
  input[type="search"],
  input[type="password"] {
    border: 1px solid $color2;
    background: none;
    color: $black;
    flex-grow: 1;
  }

  .multiselect__tags {
    border: 1px solid $color2;
    background: none;
    color: $black;
    font-size: 15px;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  .multiselect__placeholder {
    color: #999999;
    font-style: italic;
    font-family: $font;
  }

  select {
    border: 1px solid $color2;
    background: none;
    color: $black;
    font-size: 15px;
    flex-grow: 1;
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    font-style: italic;
    font-family: $font3;
  }

  .form-control {
    border: 1px solid $color2;
    border-radius: 0;
    height: 48px;

    &:focus {
      border: 1px solid $color1;
      outline: 0;
      box-shadow: none;
    }

    &::placeholder {
      color: #999999;
      font-style: italic;
      font-family: $font;
    }
  }

  textarea {
    min-height: 40px;
    max-height: 100px;
    color: $black;
    overflow-y: hidden;
  }
}

.mandatory {
  color: $color-error;
  font-family: $font3;
}
