/*
|-----------------------
| 	     FORMS
|-----------------------
|
*/

.mandatory {
  color: $color-error;
  font-family: $font3;
}

.form-contact {
  label {
    font-size: 14px;
    font-family: $font3;
  }

  .form-group {
    margin-bottom: 30px;
  }

  select {
    
  }

  .custom-radio {
    label {
      font-size: 14px;

      &:before {
        top: 50%;
        left: -22px;
        width: 13px;
        height: 13px;
        margin-top: -7px;
      }

      &:after {
        top: 50%;
        left: -23px;
        width: 15px;
        height: 15px;
        margin-top: -8px;
      }
    }
  }

  .form-control {
    border: 1px solid $color1;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &::placeholder {
      font-weight: 300;
      color: $color1;
    }
  }

  textarea {
    height: 100% !important;
  }

  #switch-radio .notActive {
    color: $color-info;
    background-color: white;
  }
}


