.membership-pricing-table {
  width: 100%;

  table {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    .plan-header {
      text-align: center;
      font-size: 48px;
      border: 1px solid white;
      padding: 15px 0;
    }

    .plan-header-primary {
      color: white;
      background-color: $color1;
      border: 1px solid $color2;
      font-family: $font2;
    }

    .plan-header-secondary {
      color: white;
      background-color: $color1;
      border: 1px solid $color2;
      font-family: $font2;
    }

    td {
      color: black;
      text-align: center;
      width: 20%;
      padding: 15px;
      background-color: white;
      font-size: 14px;
      font-family: $font2;
    }

    tr td:first-child {
      background-color: white;
      text-align: right;
      width: 20%;
    }

    td {
      border: 1px solid $color2;
    }

    tr td:nth-child(5) {
      background-color: white;
    }

    tr:first-child th:first-child {
      border-top: none;
      border-left: none;
      border-right-color: $color2;
    }

    tr:first-child th {
      font-size: 22px
    }
  }
}