/*
|-----------------------
| 	      HOME
|-----------------------
|
*/

.section-bg-white {
  background-color: white;

  @media #{$xs, $sm, $md} {
    img {
      display: none;
    }
  }
}

.section-bg-grey {
  background-color: $light-grey;

  @media #{$xs, $sm, $md} {
    img {
      display: none;
    }
  }
}

/*
|-----------------------
| 	  About
|-----------------------
|
*/

#about {
  .page-title {
    opacity: 0;
  }

  .page-content {
    opacity: 0;
  }

  .page-alert-message {
    opacity: 0;
  }

  .page-media {
    opacity: 0;
  }

  .page-btn {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }
}

/*
|-----------------------
| 	  SERVICES
|-----------------------
|
*/

#service {
  .page-title {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }

  .page-content {
    opacity: 0;
  }

  .service {
    opacity: 0;

    .card {
      padding: 20px;
      width: 100%;
      background-color: white;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;

      &:hover {
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }

    .icon i {
      padding: 15px;
      background-color: $color2;
      border-radius: 50%;
      color: white;
      font-size: 45px;
      margin-bottom: 25px;
      text-align: center;
    }

    .service-info {
      margin-bottom: 20px;
      text-align: center;
    }

    .icon-info {
      p {
        font-family: $font;
        font-size: 15px;
      }

      h4 {
        font-family: $font;
      }
    }

    @media #{$xs, $sm, $md} {
      .icon {
        text-align: center;
      }

      h4 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

/*
|-----------------------
| 	make-appointment
|-----------------------
|
*/

#make-appointment {
  .page-title {
    opacity: 0;
  }

  .page-content {
    opacity: 0;
  }

  .page-alert-message {
    opacity: 0;
  }

  .page-media {
    opacity: 0;
  }

  .page-btn {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }
}

/*
|-----------------------
| 	  prices
|-----------------------
|
*/

#prices {
  .page-title {
    opacity: 0;
  }

  .page-content {
    opacity: 0;
  }

  .page-btn {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }

  .prices-table {
    opacity: 0;
  }
}

/*
|-----------------------
| 	  medical-house
|-----------------------
|
*/

#medical-house {
  .page-title {
    opacity: 0;
  }

  .page-content {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }
}

/*
|-----------------------
| 	  information
|-----------------------
|
*/

#information {
  .page-title {
    opacity: 0;
  }

  .page-media {
    opacity: 0;
  }

  .page-botm-line {
    opacity: 0;
  }

  .information {
    opacity: 0;
  }
}

/*
|-----------------------
|  SECTION - TRANSITION
|-----------------------
|
*/

.section-transition {
  background: url('../../../../public/front/img/bg-banner.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 250px;
  position: relative;
  filter: brightness(.3);
}

.section-transition-contact {
  .boxed-btn3 {
    opacity: 0;
  }

  background: url('../../../../public/front/img/banniere-mobile-contact.jpg') no-repeat;
  background-size: cover;
  min-height: 250px;
  position: relative;
}

/*
|-----------------------
| 	  MEDICAL HOUSES
|-----------------------
|
*/

.medical-house {
  .nav {
    display: inline-flex;
    background: $color5;
    @include border-radius(3px);
    margin-bottom: 80px;
    margin-top: 33px;
    @media #{$xs, $sm, $md} {
      margin-bottom: 40px;
    }

    a {
      font-size: 16px;
      color: $color1;
      font-family: $font3;
      display: inline-block;
      padding: 8px 22px;
      @media #{$xs, $sm, $md} {
        padding: 8px 16px;
      }

      &.active {
        background: $color1;
        color: white;
        @include border-radius(3px);
      }
    }
  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
