/***************************************
banner-appointment
***************************************/
#banner-prices{
  background: url('../../../../../public/front/img/bg-banner.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 650px;
  position: relative;

  @media (max-width: 1024px){
    #banner{
      background-attachment: scroll;
    }
  }

  .bg-color{
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 750px;
  }

  .banner-info{
    padding-top: 100px;
  }

  .banner-logo img{
    display: inline-block;
    width: 250px;
  }

  .banner-text{
    h1{
      font-family: 'Candal', sans-serif;
      font-size: 35px;
      text-transform: uppercase;
    }
  }

  .overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 38px;
    color: $white;
    margin: 0 auto;
  }

  .text-primary i {
    padding-top: 8px;
    display: inline-block;
  }
}
