/***************************************
banner
***************************************/
.hero-banner{
  background: url('../../../../../public/front/img/bg-banner.jpg') no-repeat fixed;
  background-size: cover;

  @media (max-width: 1024px){
    .hero-banner{
      background-attachment: scroll;
    }
  }

  .bg-color{
    @include linear-gradient($ddg-primary, $ddg-secondary, 0.78);
    min-height: 750px;
  }

  .hero-banner-info{
    padding-top: 100px;
  }

  .hero-banner-logo img{
    display: inline-block;
    width: 250px;
  }

  .hero-banner-text{
    h1{
      font-family: 'Candal', sans-serif;
      font-size: 35px;
      text-transform: uppercase;
    }
  }

  .overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 38px;
    color: white;
    margin: 0 auto;
  }

  .text-primary i {
    padding-top: 8px;
    display: inline-block;
  }
}
